.intro {
    grid-column: 1 / 13;  
    grid-row: 6;
    margin-top: 3rem;  
    color: var(--color-grey);
    font-family: var(--poppins);
    font-size: 1rem;
    line-height: 40px;
    letter-spacing: 3px;
}

@media (min-width: 768px) {
    .intro {
        grid-column: 1 / 12;  
        grid-row: 7;
        margin-top: 1.5rem;  
        font-size: 1.1rem;
    }
  }

  @media (min-width: 1024px) {
    .intro {
        grid-column: 1 / 11;  
        grid-row: 8;
        margin-top: 1.5rem;  
        font-size: 1.2rem;
    }
  }

  @media (min-width: 1200px) {
    .intro {
        grid-column: 1 / 6;  
        grid-row: 8;
        margin-top: 1.5rem;  
        font-size: 1.2rem;
    }
  }