.social {
  grid-column: 1 / 6;
  grid-row: 7;
  align-self: center;
}

.socialIcon:not(:last-of-type) {
  margin-right: 2em;
}

@media (min-width: 768px) {
  .social {
    grid-row: 7;
    align-self: center;
  }
}

@media (min-width: 1024px) {
  .social {
    grid-row: 8;
  }
}
