.subHeader {
  align-self: start;
  grid-column: 1 / 13;
  grid-row: 5;
  margin-top: 0.5em;
}

.subHeaderText {
  color: #fefefe;
  font-family: var(--pt-serif);
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .subHeader {
    grid-column: 1 / 13;
    grid-row: 5;
    align-self: end;
    margin-top: 0;
  }

  .subHeaderText {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .subHeader {
    grid-column: 1 / 13;
    grid-row: 6;
  }

  .subHeaderText {
    font-size: 1.8rem;
  }
}
