.subHeader {
  align-self: start;
  color: #fefefe;
  font-family: var(--pt-serif);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  grid-column: 1 / 13;
  grid-row: 5;
}

@media (min-width: 768px) {
  .subHeader {
    grid-column: 1 / 13;
    grid-row: 5;
    align-self: end;
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .subHeader {
    grid-column: 1 / 13;
    grid-row: 6;
    align-self: center;
    font-size: 1.8rem;
  }
}
